.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
}
nav {
  background: green;
}
main {
  background: aqua;
}
#sidebar {
  background: aquamarine;
}
#content1 {
  background: darkcyan;
}
#content2 {
  background: cyan;
}
#content3 {
  background: chartreuse;
}
#footer {
  background: darkgreen;
}
