.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
}
nav {
  background: green;
  grid-area: nav;
}
main {
  background: aqua;
  grid-area: main;
}
#sidebar {
  background: aquamarine;
  grid-area: sidebar;
}
#content1 {
  background: darkcyan;
  grid-area: content1;
}
#content2 {
  background: rgb(55, 0, 255);
  grid-area: content2;
}
#content3 {
  background: chartreuse;
  grid-area: content3;
}
#footer {
  background: darkgreen;
  grid-area: footer;
}
