.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
}
nav {
  background: green;
  grid-area: nav;
}
main {
  background: aqua;
}
#sidebar {
  background: aquamarine;
}
#content1 {
  background: darkcyan;
}
#content2 {
  background: cyan;
}
#content3 {
  background: chartreuse;
}
#footer {
  background: darkgreen;
}
